.nav-bar{
    background-image: url('../images/jacek-dylag-PMxT0XtQ--A-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.truncate-lines-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; 
}