<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobify footer</title>
    <link rel="stylesheet" href="../public/css/output.css">
    <link rel="stylesheet"  href="../public/css/style.css">
</head>
<body>
    

<footer class="bg-white rounded-lg shadow dark:bg-gray-900  w-full mt-28">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 h-full">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="http://127.0.0.1:3000/home#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="../public/images/logo-transparent-png.png" class="h-16" alt="Jobify Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Jobify</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="http://127.0.0.1:3000/home#" class="hover:underline">Jobify</a>. All Rights Reserved.</span>
    </div>
</footer>


</body>
</html>