<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobify header</title>
    <link rel="stylesheet" href="../public/css/output.css">
    <link rel="stylesheet"  href="../public/css/style.css">
</head>
<body>
    <!-- Navigation bar -->
<nav class="bg-black/90 border-gray-200 dark:bg-gray-900  min-h-[15vh] relative">
    

    <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4  px-16 ">
  
      <!-- Navigation Links Section -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 gap-x-8 z-10" id="navbar-cta">
          <!-- Logo and Brand Name -->
          <div class="flex flex-col pl-5  w-fit">
            <a href="http://127.0.0.1:3000/recruter#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../public/images/logo-transparent-png.png" class="h-14" alt="jobify Logo" />
            </a>
            <p class="text-xs font-light text-white ml-4">jobify for recruter</p>
          </div>


         <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border  rounded-lg bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
  
          <!-- Home Link -->
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500" aria-current="page">Publier une offre d'emplois</a>
          </li>
  
          <!-- About Link -->
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Recherche de CV</a>
          </li>
        </ul>
      </div>
  
      <!-- Buttons Section -->
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse z-10 gap-x-4 items-center">
        <!-- login button -->
          <a href="http://127.0.0.1:3000/login/recruter" class="font-medium text-sm text-white">
            <button class="bg-blue-800 w-32 h-10 rounded-lg hover:bg-blue-900 duration-300 ease-in-out">
              Connexion
            </button>
          </a>

             <!-- login button -->
             <a href="http://127.0.0.1:3000/home#" class="font-medium text-sm text-white">
              <button class="bg-blue-800 w-52 h-10 rounded-lg hover:bg-blue-900 duration-300 ease-in-out">
                Rechercher un emplois
              </button>
            </a>
        
        <!-- Mobile Menu Toggle Button -->
        <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
      </div>
    </div>
  
  </nav>
  
    
</body>
</html>