<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../public/css/output.css">
    <link rel="stylesheet"  href="../../public/css/style.css">
</head>
<body class="min-h-screen bg-indigo-300">
  
    <!-- login form section -->
    <main class="min-h-screen flex flex-col  p-20">
        <!-- jobify logo -->
        <div class="container flex justify-center max-w-fit mx-auto">
            <a href="http://127.0.0.1:3000/home#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../../public/images/logo-transparent-png.png" class="h-20" alt="jobify Logo" />
            </a>
        </div>
        <!-- form section -->
        <div class="container rounded-md border border-gray-800/35 mt-6 flex flex-col flex-wrap max-w-[40%] min-h-[70vh] mx-auto bg-white p-5 space-y-2.5">
            <div class="max-w-full flex flex-col justify-center items-center space-y-1">
                <h1 class="h1 font-bold text-black text-xl tracking-wide mb-3">Administrateur</h1>
            </div>
            <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200 mt-2">
                <div class="px-5 py-7">
                    <form action="/login/admin" method="post" id="login-form">
                        <label class="font-semibold text-sm text-gray-600 pb-1 block">E-mail</label>
                        <input type="email"  name="email" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
                        <label class="font-semibold text-sm text-gray-600 pb-1 block">Password</label>
                        <input type="password" name="password" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
                        <input type="hidden" name="userType" value="admin">
                        <button type="submit" class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                            <span class="inline-block mr-2">Login</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 inline-block">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                            </svg>
                        </button>
                    </form>
                </div>
                
                
            </div>
            <div class="py-5">
                <div class="grid grid-cols-2 gap-1">
                    <div class="text-center sm:text-left whitespace-nowrap">
                        <a href="http://127.0.0.1:3000/home#">
                            <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200     focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 inline-block align-text-top">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                                </svg>
                                <span class="inline-block ml-1">Back to home page</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>     
    </main>
    
    <!-- footer section -->
    <%- include('../../components/footer') %>
    
 
    

</body>
</html>