<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobify</title>
    <link rel="stylesheet" href="../public/css/output.css">
    <link rel="stylesheet"  href="../public/css/style.css">
</head>
<body>
    <%- include('../components/header') %>
    <h1 class="h-16 text-red-600 font-bold">Hello world</h1>
    <p>Coca colaa</p>
</body>
</html>