<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../public/css/output.css">
    <link rel="stylesheet"  href="../../public/css/style.css">
    <script defer  src="../../public/script.js"></script>
</head>
<body class="min-h-screen bg-slate-100/100">

    <!-- hero offers content section -->
    <main class="min-h-full">
        <div class="flex h-full p-4">

            <!-- sidebar -->
            <div class="hidden md:flex flex-col w-64 bg-indigo-950   rounded-2xl shadow-lg">
                <div class="flex items-center justify-center h-20 bg-indigo-950  rounded-2xl shadow-lg">
                    <a href="/home">
                        <img src="../../public/images/logo-transparent-png.png" alt="logo-jobify" class="h-11">
                    </a>
                </div>
                <div class="flex flex-col flex-1 overflow-y-auto rounded-b-2xl shadow-lg ">
                    <!-- side bar navigation -->
                    <nav class="flex-1 flex flex-col justify-between px-2 py-7 bg-blue-700/95 space-y-6 ">
                        <div class="container">
                            <p class="text-white font-light text sm pl-3">Admin tools</p>
                  
                            <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-100 group hover:bg-white hover:text-black hover:rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 svg-icon text-white group-hover:text-black" width="22" height="22" viewBox="0 0 24 24">
                                    <g fill="none" stroke-linecap="round" stroke-width="1.5" stroke="currentColor" stroke-linejoin="round">
                                        <path d="M8.557 2.75H4.682A1.932 1.932 0 0 0 2.75 4.682v3.875a1.942 1.942 0 0 0 1.932 1.942h3.875a1.942 1.942 0 0 0 1.942-1.942V4.682A1.942 1.942 0 0 0 8.557 2.75z"/>
                                        <path d="M18.318 2.75H14.443a1.942 1.942 0 0 0-1.942 1.932v3.875a1.943 1.943 0 0 0 1.942 1.942h3.875a1.942 1.942 0 0 0 1.932-1.942V4.682a1.932 1.932 0 0 0-1.932-1.932z"/>
                                        <path d="M8.557 13.5H4.682a1.943 1.943 0 0 0-1.932 1.943v3.875a1.932 1.932 0 0 0 1.932 1.932h3.875a1.942 1.942 0 0 0 1.942-1.932v-3.875a1.942 1.942 0 0 0-1.942-1.942z"/>
                                        <path d="M17.368 13.817v7.116m-3.551-3.55h7.116"/>
                                    </g>
                                </svg>
                                dashboard
                            </a>
                            
                            <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-100 group hover:bg-white hover:text-black hover:rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 svg-icon text-white group-hover:text-black" width="20" height="20" viewBox="0 0 512 512">
                                    <path fill="currentColor" d="M160 368c26.5 0 48 21.5 48 48v16l72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6H448c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16v288c0 8.8 7.2 16 16 16zm48 124l-.2.2l-5.1 3.8l-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3v-80H64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0h384c35.3 0 64 28.7 64 64v288c0 35.3-28.7 64-64 64H309.3z"/>
                                </svg>
                                Messages
                            </a>

                            <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-100 group hover:bg-white hover:text-black hover:rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg"  class="mr-2 svg-icon text-white group-hover:text-black" width="28" height="28" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" d="M17.923 12.5v-1h3.23v1zm1.085 6.462l-2.585-1.939l.623-.792l2.585 1.938zm-2.039-11.27l-.623-.792l2.585-1.938l.623.792zM5.5 17.962v-3.808H2.846V9.846h5.346L12.154 7.5v9l-3.962-2.346H6.5v3.808zm5.654-3.243V9.281l-2.68 1.565H3.845v2.308h4.627zm2.77.17V9.111q.501.465.808 1.222q.306.756.306 1.666t-.306 1.666t-.809 1.222M7.5 12"/></svg>
                                Campagnes
                            </a>

                            <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-100 group hover:bg-white hover:text-black hover:rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 svg-icon text-white group-hover:text-black " width="25" height="25" viewBox="0 0 24 24"><g fill="none" stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M3 15V9a6 6 0 0 1 6-6h6a6 6 0 0 1 6 6v6a6 6 0 0 1-6 6H9a6 6 0 0 1-6-6"/><path d="M15 3s-4.5 0-4.5 9H13c0 9 2 9 2 9"/><path d="M16.5 14.5s-1.5 2-4.5 2s-4.5-2-4.5-2M7 9v2m10-2v2"/></g></svg>
                                Trouver un candidat
                            </a>
                            
                            <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-100 group hover:bg-white hover:text-black hover:rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 svg-icon text-white group-hover:text-black" width="22" height="22" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M20 7c1.25 1.67 2 3.75 2 6c0 5.52-4.48 10-10 10S2 18.52 2 13S6.48 3 12 3m0-2v12l9.6-7.2C19.41 2.89 15.92 1 12 1z"/></svg>
                                Analytique
                            </a>
                            
                            <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-100 group hover:bg-white hover:text-black hover:rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 svg-icon text-white group-hover:text-black" width="22" height="22" viewBox="0 0 24 24"><path fill="white" stroke="currentColor" d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2m0 14H4v-6h16zm0-10H4V6h16z"/></svg>
                                Payment
                            </a>
                            
                            
                            
                        </div>
                     
                        <div class="container flex flex-col items-center justify-end w-[15vw] min-h-[30vh] p-5 mx-auto rounded-xl  bg-blue-500 space-y-5">
                            <p class="text-white text-center text-xs leading-6 tracking-wider">Avez-vous des problèmes pour gérer votre tableau de bord ? <br> Essayez de contacter le support client.</p>
                            <button type="submit" class=" shadow-sm bg-sky-400  text-white  text-sm font-medium w-40 tracking-wide h-11 rounded-lg hover:scale-105 duration-300 ease-in-out">
                                Contact Us
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        
            <!-- Main content -->
            <div class="flex flex-col flex-1 overflow-y-auto ">
                <div class="flex items-center justify-between h-24  bg-transparent">
                    <div class="flex items-center px-4">
                        <div class="px-4">
                            <h1 class="text-2xl font-bold"> <span class="font-normal text-gray-700 text-[1.05rem] tracking-wide">Welcome Back,</span> <br> <span class="font-bold text-4xl tracking-wide "><%= user.pseudonyme %></span> </h1>
                        </div>
                    </div>
                    <div class="flex items-center pr-4">

                        <a href="" class="font-medium text-sm  text-white mr-5">
                            <button type="submit" class="bg-blue-800 shadow-sm flex items-center justify-around px-3 h-10 rounded-lg w-48 hover:bg-blue-900 hover:scale-105 duration-300 ease-in-out">
                                <div >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 256 256"><path fill="white" d="M240 136v64a16 16 0 0 1-16 16H32a16 16 0 0 1-16-16v-64a16 16 0 0 1 16-16h48a8 8 0 0 1 0 16H32v64h192v-64h-48a8 8 0 0 1 0-16h48a16 16 0 0 1 16 16M85.66 77.66L120 43.31V128a8 8 0 0 0 16 0V43.31l34.34 34.35a8 8 0 0 0 11.32-11.32l-48-48a8 8 0 0 0-11.32 0l-48 48a8 8 0 0 0 11.32 11.32M200 168a12 12 0 1 0-12 12a12 12 0 0 0 12-12"/></svg>
                                </div>
                            Poster une annonce
                            </button>
                        </a>

                        <!-- login button -->
                        <form action="dashboard/logout" method="post">
                            <a href="" class="font-medium text-sm text-white mr-5">
                                <button type="submit" class="border-2 shadow-sm border-blue-800 text-black font-medium w-32 h-10 rounded-lg hover:scale-105 duration-300 ease-in-out">
                                déconnexion
                                </button>
                            </a>
                        </form>
                      
                        <div class="container relative">
                            <button class="flex justify-center items-center hover:scale-105 duration-150 ease-out shadow-md bg-white rounded-full w-10 h-10 focus:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24"><path fill="blue" d="M4 8a8 8 0 1 1 16 0v4.697l2 3V20h-5.611a4.502 4.502 0 0 1-8.777 0H2v-4.303l2-3zm5.708 12a2.5 2.5 0 0 0 4.584 0zM12 2a6 6 0 0 0-6 6v5.303l-2 3V18h16v-1.697l-2-3V8a6 6 0 0 0-6-6"/></svg>
                            </button>
                            <div class="rounded-full w-5 h-5 flex items-center justify-center bg-blue-700 absolute top-[-6px] right-[-5.5px]">
                                <p class="text-white text-[0.8em] text-center font-medium">2</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            
                <!--job listing section -->
                <div class="bg-gradient-to-r from-sky-500/80 via-sky-300 to-sky-400 flex flex-col w-[75vw] h-[40vh] mx-auto mt-10 rounded-xl overflow-x-hidden overflow-y-auto">
                    <!-- job listing nav title -->
                    <div class="container bg-sky-600/75 flex items-center justify-between w-full h-16  px-5  ">
                        <div class="flex items-center  space-x-5 justify-center">
                            <input type="checkbox" class="mt-1 w-4 h-4">
                            <h2 class="text-white font-medium text-base tracking-wide">Titres annonces</h2>
                        </div>
                        <div class="flex items-center justify-center mr-60">
                            <h2 class="text-white font-medium text-base tracking-wide">candidats</h2>
                        </div>
                        <div class="flex space-x-10  items-center justify-between mr-12 w-fit">
                            <h2 class="text-white font-medium text-base tracking-wide mr-12">sponsorship status</h2>
                            <h2 class="text-white font-medium text-base tracking-wide">status de l'offre</h2>
                            <h2 class="text-white font-medium text-base tracking-wide">actions</h2>
                        </div>
                    </div>

                    <!-- job list -->
                    <div class="container flex items-center  justify-between w-full h-fit py-2 rounded-t-xl px-6 bg-transparent border-b border-white/50">
                        <div class="flex items-center w-56 space-x-4 justify-center">
                            <input type="checkbox" class="mt-4 w-4 h-4">
                            <div class="flex flex-col">
                                <h2 class="text-white font-medium text-base tracking-wide">Data analyst</h2>
                                <p class="text-blue-800/80 font-medium text-sm tracking-wide">Montparnasse, Paris</p>
                                <p class="text-blue-800/80 font-medium text-sm tracking-wide">Data analyst</p>
                            </div>
                        </div>
                        <!-- canditate board -->
                        <div class="flex  w-[25vw] h-16 px-1 items-center ml-5 justify-around bg-sky-500 rounded-md">
                            <div class="flex flex-col items-center justify-center h-full ">
                                <h2 class=" font-medium text-base text-sky-900 tracking-wide"><span>3</span> Actifs</h2>
                                <h2 class="text-sky-900 font-medium text-base tracking-wide">candidats</h2>
                            </div>
                            <div class="flex flex-col items-center justify-center h-full ">
                                <h2 class=" font-medium text-base text-white tracking-wide"><span>0</span> </h2>
                                <h2 class="text-white font-medium text-base tracking-wide">Attentes</h2>
                            </div>
                            <div class="flex flex-col items-center justify-center h-full ">
                                <h2 class=" font-medium text-base text-white tracking-wide"><span>0</span> </h2>
                                <h2 class="text-white font-medium text-base tracking-wide">Contacter</h2>
                            </div>
                            <div class="flex flex-col items-center justify-center h-full ">
                                <h2 class=" font-medium text-base text-white tracking-wide"><span>0</span> </h2>
                                <h2 class="text-white font-medium text-base tracking-wide">Engagé</h2>
                            </div>
                        </div>
                        <!-- job sponsorship status section -->
                        <div class="flex space-x-8  items-center  pr-4">
                            <div class="flex flex-col items-start justify-center w-52 ml-10">
                                <h1 class="font-medium text-start text-base">Sponsorisé</h1>
                                <p class="font-medium text-start text-xs w-full flex-nowrap"><span>60</span> (EUR) coût total | <span>20</span> EUR jours</p>
                            </div>
                            <!-- job status section -->
                            <div class="relative" id="job-status-div">
                                <!-- job status open section -->
                                <div class="">
                                    <button class="text-white flex items-center justify-center gap-x-1  font-medium border-2 rounded-full w-28 h-9" id="open-status-btn">
                                        <div class="w-fit flex items-center justify-center pt-[1.85px]">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48">
                                                <path fill="#2b9216" stroke="#2b9216" stroke-width="4" d="M24 33a9 9 0 1 0 0-18a9 9 0 0 0 0 18Z" />
                                            </svg>
                                        </div>
                                       <p class="font-medium  text-sm">Ouvert</p>
                                       <div class="flex items-center justify-center pt-[1.85px]">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 10l-5 5l-5-5"/></svg>
                                       </div>
                                    </button>
                                </div>
                                <!-- job status close section -->
                                <div class="hidden">
                                    <button class="text-white flex items-center justify-center gap-x-1  font-medium border-2 rounded-full w-28 h-9" id="close-status-btn">
                                        <div class="w-fit flex items-center justify-center pt-[1.85px]">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48">
                                                <path fill="red" stroke="red" stroke-width="4" d="M24 33a9 9 0 1 0 0-18a9 9 0 0 0 0 18Z" />
                                            </svg>
                                        </div>
                                       <p class="font-medium  text-sm">Fermé</p>
                                       <div class="flex items-center justify-center pt-[1.85px]">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 10l-5 5l-5-5"/></svg>
                                       </div>
                                    </button>
                                </div>
                                <!-- status dropdown menu -->
                                <div class="w-32 h-10 bg-white border hidden flex-col items-center justify-start absolute top-10 right-[-15px] rounded-lg shadow-lg p-2 " id="status-list">
                                    <ul class="optList" >
                                        <li class="font-medium text-sm cursor-pointer tracking-normal hover:text-blue-700" id="openBtnStatus">
                                            Fermer
                                        </li>
                                        <li class="font-medium text-sm hidden cursor-pointer tracking-normal hover:text-blue-700" id="openBtnStatus">
                                            Ouvert
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!-- job action section -->
                            <div class="relative">
                                <button class="border-sky-900  flex items-center justify-center gap-x-1  font-medium border-2 rounded-full w-24 h-9"  id="action-btn">
                                   <p class="font-medium text-sky-900  text-sm">Action</p>
                                   <div class="flex items-center justify-center pt-[1.85px]">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="none" stroke="rgb(12 74 110)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 10l-5 5l-5-5"/></svg>
                                   </div>
                                </button>
                                <div class="w-40 h-28 bg-white border hidden  flex-col items-center justify-start absolute top-10 right-[-25px] rounded-lg shadow-lg p-2 overflow-x-hidden overflow-y-auto" id="action-list">
                                    <ul class="space-y-2">
                                        <li class="font-medium text-sm cursor-pointer tracking-normal hover:text-blue-700">
                                            Supprimer
                                        </li>
                                        <li class="font-medium text-sm cursor-pointer tracking-normal hover:text-blue-700">
                                            modifier
                                        </li>
                                        <li class="font-medium text-sm cursor-pointer tracking-normal hover:text-blue-700">
                                            Archiver
                                        </li>
                                        <li class="font-medium text-sm cursor-pointer tracking-normal hover:text-blue-700">
                                            Candidature
                                        </li>
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    
                </div>

                
                <div class="container flex items-center justify-center gap-x-8 mt-8">
                    <div class="bg-white w-[30vw] h-[35vh]  mt-10 rounded-xl flex flex-col">
                        <div class="w-full p-4 bg-transparent  border-b border-gray-200/70">
                            <h1 class="font-medium text-black text-lg tracking-wide">Messages (<span class="font-medium text-center text-black text-lg">0</span>)</h1>
                        </div>
                        <div class="flex flex-col max-w-full items-center justify-center mt-6">
                            <div class="flex flex-col relative">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><g fill="none" stroke="black"><rect width="16" height="12" x="4" y="6" rx="2"/><path d="m4 9l7.106 3.553a2 2 0 0 0 1.788 0L20 9"/></g></svg>
                                <div class="rounded-full flex items-center justify-center bg-red-600 w-5 h-5 absolute bottom-4 right-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.758 17.243L12.001 12m5.243-5.243L12 12m0 0L6.758 6.757M12.001 12l5.243 5.243"/></svg>
                                </div>
                            </div>
                            <p class="text-gray-800 text-sm font-medium text-center">Aucun messages !</p>
                        </div>
                    </div>

                    <div class="bg-white w-[30vw] h-[35vh]  mt-10 rounded-xl flex flex-col">
                        <div class="w-full p-4 bg-transparent  border-b border-gray-200/70">
                            <h1 class="font-medium text-black text-lg tracking-wide">Entretiens (<span class="font-medium text-center text-black text-lg">0</span>)</h1>
                        </div>
                        <div class="flex flex-col max-w-full items-center justify-center mt-9">
                            <div class="flex flex-col relative">
                                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 15 15"><path fill="black" fill-rule="evenodd" d="M4.5 1a.5.5 0 0 1 .5.5V2h5v-.5a.5.5 0 0 1 1 0V2h1.5A1.5 1.5 0 0 1 14 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 1 12.5v-9A1.5 1.5 0 0 1 2.5 2H4v-.5a.5.5 0 0 1 .5-.5M10 3v.5a.5.5 0 0 0 1 0V3h1.5a.5.5 0 0 1 .5.5V5H2V3.5a.5.5 0 0 1 .5-.5H4v.5a.5.5 0 0 0 1 0V3zM2 6v6.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V6zm5 1.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0M9.5 7a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1m1.5.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0m.5 1.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1M9 9.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0M7.5 9a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1M5 9.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0M3.5 9a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1M3 11.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0m2.5-.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1m1.5.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0m2.5-.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1" clip-rule="evenodd"/></svg>
                                <div class="rounded-full flex items-center justify-center bg-red-600 w-5 h-5 absolute bottom-0 right-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.758 17.243L12.001 12m5.243-5.243L12 12m0 0L6.758 6.757M12.001 12l5.243 5.243"/></svg>
                                </div>
                            </div>
                            <p class="text-gray-800 text-sm font-medium text-center">Aucun entretiens !</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </main>
    
    <!-- footer section -->
    <%- include('../../components/footer') %>
        
</body>
</html>